.profile
{
    overflow: hidden;
    height: 20px;
    max-height: 20px !important;
}

#new-character-form
{
    width: 600px;
}
label, input, textarea
{
    margin-bottom: 14px;

    font-weight: bold;
}

#character-number-input
{
    width: 90px;
}

#character-title-input
{
    min-width: 350px;
}

#character-password-input
{
    min-width: 220px;
}

.red-star
{
    color: maroon;
    font-size: 21px;
}

#add-character-submit
{
    margin-left: 120px;
    background-color: lightgray;
    border-radius: 6px;
    color: black;
    padding: 12px;
    padding-right:18px;
    padding-left:18px;
    text-align: center;
    font-size: 14px;
}


.page-title-action
{
    display: none;
}